.form{
    display: flex;
    flex-direction: column;
    width: 296px;
    padding: 12px;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    margin: 20px 0 0 20px;
}

.formLabel:not(:first-child){
    margin-top: 10px;
}

.formInput{
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid rgb(175, 171, 171);
}

.errorSpan {
color: red;
font-size: 12px;
}

.formBtn{
    display: block;
    margin: 10px auto 0;
    max-width: 200px;
    border-color:rgb(152, 152, 149);
    border: 2px solid rgb(175, 171, 171);
    border-radius: 4px;
}